/* styles.css */

.title {
    font-size: 40px;
    text-align: center;
    color: rgba(52, 48, 27, 0.82);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

img {
    margin: auto;
    display: block;
    width: 60%;
}

.opening {
    font-size: 25px;
    color: rgba(68, 155, 77, 0.856);
    font-style: italic;
    text-align: center;
}

.recipe {
    font-size: 18px;
    color: rgb(93, 81, 21);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}